<a href="https://colab.research.google.com/github/pboncoeur/Hello-World/blob/master/Python_Week2_Iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ITERATION / REPETITION / LOOP

- Loops are used to repeat the same action or set of actions multiple times
- For Loop and While Loop in Python
- Loops can be used to generate sequences or access data in a data collection (e.g. LISTS)
- 3 info for a Loop to work: starting point/value, ending point/value and step/incrementation

### Using Loop to access Data Collection

In [ ]:
cti = ["curtin", "Mauritius", "Australia"]

for x in cti:
    print(x)

curtin
Mauritius
Australia

#### Explanation

- "cti" is a variable of type LIST.
- This means that "cti" is assigned more than 1 value at the same time
- The for loop is used to access each value assigned to "cti"
- for x in cti : is similar to saying:
- - when x = "curtin" => print(x)
  - when x = "Mauritius"  => print(x)
  - when x = "Australia"  => print(x)

- The starting point is "curtin"
- The ending point is "Australia"
- The step is the next item in the LIST.

In [ ]:
## Same code can be written as:

for x in ["curtin", "Mauritius", "Australia"]:
    print(x)

print("END of LST")

curtin
Mauritius
Australia
END of LST

### Keyword "in"

- "in" checks if teh item is indeed in the LIST
- It returns a Boolean value

In [ ]:
# Example

print( "curtin" in cti )

True

### Using Loop with range()

- range() is a function that can generate a sequence of values
- format: range( starting point, ending point, step )
- Example we want to generate a sequence of numbers from 1 to 10
- - starting point: 1
  - ending point: 10
  - step: 1, because we want consecutive values, meaning that each value is increased by 1 to get the next value till 10

- Note: the Ending point in range() IS NOT INCLUSIVE

#### Write a program to print "Hello" five times

In [ ]:
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")

Hello
Hello
Hello
Hello
Hello

#### OR the same program can be rewritten using LOOP

- Starting point: 1
- Ending point: 5
- Step: 1

In [ ]:
## CODES

for i in range(1, 6, 1):
    print("Hello")

Hello
Hello
Hello
Hello
Hello

#### Generate a sequence of numbers from 1 to 10

In [ ]:
# Example

for x in range(1, 11, 1):
    print(x)

print("End of sequence!!")

1
2
3
4
5
6
7
8
9
10
End of sequence!!

### IMPORTANT

- range(1, 11, 1)
- range(1, 11)
- range(11)

### EXAMPLE 1

#### Write a program that will display the multiplication table of a number inserted by the user

In [ ]:
# CODES

num = input("Enter a number = ")
num = int(num)

for i in range(1, 13, 1):
    print( i, "x", num, "=", num*i )

Enter a number =  6

1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60
11 x 6 = 66
12 x 6 = 72

### EXAMPLE 2

#### Given the LIST [2, 55 ,73, 101, 33, 21], write a program to print all the EVEN numbers.

#### Solution

- INPUT: List (already given)
- OUTPUT: EVEN number(s)
- ALGORITHM:
- - Access each item of the list
  - Check if the number is EVEN
  - If it is EVEN, print the number

#### Version 1

In [ ]:
## CODES

for x in [2, 55 ,73, 101, 33, 21]:

    if x % 2 == 0:
        print( x, "is EVEN" )

2 is EVEN

#### Version 2

In [ ]:
## If the number is NOT EVEN, then it is ODD
## CODES

for x in [2, 55 ,73, 101, 33, 21]:

    if x % 2 == 0:
        print( x, "is EVEN" )
    else:
        print( x, "is ODD" )

2 is EVEN
55 is ODD
73 is ODD
101 is ODD
33 is ODD
21 is ODD